.btn {
  background-color: #f39121;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  outline: 0;
  padding: 1em 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition:
    background-color 200ms linear,
    color 200ms linear;
  max-width: 18.75em;
}

.btn:hover {
  color: #556574;
  background-color: #fff;
}

.btn-wrapper {
  text-align: center;
}
