.home-view-container {
  text-align: center;

  .feature {
    height: 95%;
    padding: 0 0 2em 0;
    position: relative;
  }

  .sub-headline {
    color: $white;
    font-size: 1.3em;
    font-weight: $font-light;
    margin: 0 auto;
    padding-top: 1em;
    text-shadow: 0 0 10px $black;
    width: 100%;
  }

  .recent-work-container {
    padding-bottom: 0.5em;

    .headline {
      color: $white;
      font-size: 0.8em;
      font-weight: $font-light;
      margin: 0 auto;
      padding-bottom: 1em;
      text-transform: capitalize;
    }
  }

  .work-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
  }

  .recent-item {
    border-radius: 2px;
    box-shadow: 0 0 10px rgba($black, 0.7);
    display: flex;
    height: 12.5em;
    transform: scale(1);
    transition: $transform-transition;
    width: 9.375em;
    will-change: transform;
    @include respond-to(small) {
      height: 15.5em;
      width: 12.375em;
    };

    &:hover {
      transform: scale(1.1);
    }

    .link {
      align-items: flex-end;
      display: flex;
      height: 100%;
      text-decoration: none;
      width: 100%;

      &:focus {
        background-color: transparent;
      }
    }

    @each $item in lays thrive {
      &.#{ $item } {
        background:
          url("images/backgrounds/#{ $item }.png")
          no-repeat
          center
          center
          $white;
        background-size: cover;
      }
    }

    &:first-of-type {
      margin-right: 0.5em;
      @include respond-to(small) {
        margin-right: 1em;
      };
    }

    .info {
      align-items: center;
      background-color: $pending;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 0.5em;
      width: 100%;
    }

    .type {
      color: $white;
      font-size: 0.7em;
      font-weight: $font-light;
      text-transform: capitalize;
    }
  }

  .cta-wrapper {
    padding: 2em 1em 1em 1em;
  }

  .btn-wrapper {
    .btn {
      font-size: 1em;
      padding: 0.8em 2em;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .footer {
    padding: 1em;
  }

  .social-list {
    align-items: center;
    display: flex;
    justify-content: center;

    .item {
      background-color: $dark;
      border-radius: 50%;
      display: flex;
      height: 3.75em;
      justify-content: center;
      margin: 0 0.5em;
      overflow: hidden;
      width: 3.75em;

      .link {
        display: inline-block;
        height: 100%;
        width: 100%;

        &:focus{
          background-color: transparent;
        }
      }

      @each $name in $social-networks {
        &.#{ $name } {
          background:
            url("images/ico/#{ $name }.svg")
            no-repeat
            center
            center
            $primary;
          background-size: 2em;
        }
      }
    }
  }
}
