.index-view-container {
  height: 100%;
  opacity: 0;
  padding-top: 8em;
  position: relative;
  text-align: center;
  width: 100%;

  &.fadeIn {
    opacity: 1;
  }

  @include respond-to(small) {
    padding-top: 6em;
  };

  .blog-link-wrapper {
    background:
      url("images/ico/medium.png")
      no-repeat
      center
      center
      transparent;
    background-size: contain;
    display: inline-block;
    height: 3.4375em;
    position: absolute;
    right: 0.3em;
    top: 0;
    width: 3.4375em;
    z-index: 10;

    @include respond-to(small) {
      right: 1em;
      top: 0.5em;
    };

    .link {
      display: inline-block;
      height: 100%;
      width: 100%;

      &:focus {
        background-color: transparent;
      }
    }
  }

  .logo-container {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    max-width: 28.125em;
    width: 60%;
    z-index: 10;

    .img {
      height: 100%;
      width: 100%;
    }
  }

  .view-content {
    position: relative;
  }
}
