.works-view-container {
  position: relative;

  .back-btn {
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7em;
    font-weight: $font-light;
    height: 2em;
    left: 0.5em;
    padding-top: 0.2em;
    position: absolute;
    text-align: right;
    top: 0.8em;
    text-transform: capitalize;
    width: 4em;
    z-index: 10;

    &:before {
      background:
        url("./images/ico/back.svg")
        no-repeat
        center
        center
        transparent;
      background-size: 1.5em;
      display: inline-block;
      content: "";
      left: -2px;
      height: 100%;
      position: absolute;
      top: -2px;
      width: 2em;
    }

    @include respond-to(small) {
      font-size: 1em;
      height: 1.6em;
      width: 4em;

      &:before {
        left: 0;
        top: 0;
      }
    };
  }

  .feature {
    height: 10em;
    position: relative;

    @include respond-to(small) {
      height: 25em;
    };
  }

  .item-container {
    bottom: -3em;
    height: 11em;
    left: 50%;
    margin-left: -7.8125em;
    opacity: 0;
    position: absolute;
    width: 15.625em;
    z-index: 10;

    @include respond-to(small) {
      height: 23.5em;
      margin-left: -19.3125em;
      width: 38.625em;
    };

    &.fadeInDown {
      opacity: 1;
    }

    .img {
      display: inline-block;
      width: 100%;
    }
  }

  .main-section {
    background-color: $white;
    padding: 3em 1em 1em 1em;

    @include respond-to(small) {
      padding-top: 6em;
    };

    .headline {
      border-bottom: 1px solid $border;
      font-size: 2em;
      margin-bottom: 1em;
      padding-bottom: 1em;
      text-align: center;
      text-transform: uppercase;
    }

    .link-container {
      text-align: center;
      padding: 0 1em 1em 1em;

      .link {
        color: $pending;
        font-size: 1em;
        text-transform: capitalize;

        &:hover {
          color: darken($pending, 10);
        }
      }
    }

    .description {
      border-bottom: 1px solid $border;
      margin: 0 auto;
      max-width: 41.25em;
      padding-bottom: 2em;

      p {
        padding-top: 1em;
      }
    }

    .cta-wrapper {
      padding: 2em 1em 1em 1em;
    }

    .btn-wrapper {
      text-align: center;

      .btn {
        font-size: 1em;
        padding: 0.8em 2em;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
