.index-view-container {
  height: 100%;
  opacity: 0;
  padding-top: 8em;
  position: relative;
  text-align: center;
  width: 100%;
}

.index-view-container.fadeIn {
  opacity: 1;
}

.index-view-container .blog-link-wrapper {
  background:
    url(../../images/ico/medium.png)
    no-repeat
    center
    center
    transparent;
  background-size: contain;
  display: inline-block;
  height: 3.4375em;
  position: absolute;
  right: 0.3em;
  top: 0;
  width: 3.4375em;
  z-index: 10;
}

.index-view-container .view-content {
  position: relative;
}

.blog-link-wrapper .link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.logo-container {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  max-width: 28.125em;
  width: 60%;
  z-index: 10;
}

.logo-container .img {
  height: 100%;
  width: 100%;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 600px) {
  .index-view-container {
    padding-top: 6em;
  }

  .index-view-container .blog-link-wrapper {
    right: 1em;
    top: 0.5em;
  }
}
