.works-view-container {
  position: relative;
}

.works-view-container .back-btn {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7em;
  font-weight: 100;
  height: 2em;
  left: 0.5em;
  padding-top: 0.2em;
  position: absolute;
  text-align: right;
  top: 0.8em;
  text-transform: capitalize;
  width: 4em;
  z-index: 10;
}

.works-view-container .back-btn:before {
  background:
    url(../images/ico/back.svg)
    no-repeat
    center
    center
    transparent;
  background-size: 1.5em;
  display: inline-block;
  content: "";
  left: -2px;
  height: 100%;
  position: absolute;
  top: -2px;
  width: 2em;
}

.works-view-container .feature {
  height: 10em;
  position: relative;
}

.works-view-container .item-container {
  bottom: -3em;
  height: 11em;
  left: 50%;
  margin-left: -7.8125em;
  opacity: 0;
  position: absolute;
  width: 15.625em;
  z-index: 10;
}

.works-view-container .item-container.fadeInDown {
  opacity: 1;
}

.works-view-container .item-container .img {
  display: inline-block;
  width: 100%;
}

.works-view-container .main-section {
  background-color: #fff;
  padding: 3em 1em 1em 1em;
}

.main-section .headline {
  border-bottom: 1px solid #D3DDE4;
  font-size: 2em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.main-section .link-container {
  text-align: center;
  padding: 0 1em 1em 1em;
}

.main-section .link-container .link {
  color: #9677DF;
  font-size: 1em;
  text-transform: capitalize;
}

.main-section .description {
  border-bottom: 1px solid #D3DDE4;
  margin: 0 auto;
  max-width: 41.25em;
  padding-bottom: 2em;
}

.main-section .description p {
  padding-top: 1em;
}

.main-section .cta-wrapper {
  padding: 2em 1em 1em 1em;
}

.main-section .btn {
  font-size: 1em;
  padding: 0.8em 2em;
  text-decoration: none;
  text-transform: uppercase;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 600px) {
  .works-view-container .back-btn {
    font-size: 1em;
    height: 1.6em;
    width: 4em;
  }

  .works-view-container .back-btn:before {
    left: 0;
    top: 0;
  }

  .works-view-container .feature {
    height: 25em;
  }

  .works-view-container .item-container {
    height: 23.5em;
    margin-left: -19.3125em;
    width: 38.625em;
  }

  .works-view-container .main-section {
    padding-top: 6em;
  }
}
