.App-feature {
  margin: 0 auto;
  max-width: 48.0625rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.App-logo-wrapper {
  margin: 0 auto;
  max-width: 30.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.App-title {
  color: #42505D;
  font-size: 1.3rem;
  padding-bottom: 2.5rem;
  padding-top: 2rem;
  text-transform: capitalize;
  text-align: center;
}

.App-copy {
  color: #546575;
  line-height: 1.5;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.App-inline-link {
  color: #202020;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  text-decoration: none;
  transition: color 150ms ease-out;
}

.App-inline-link:hover {
  color: #f39121;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 768px) {
  .App-copy {
    line-height: 1.8;
  }
}
