.navbar {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-bottom: 48px;
  padding-top: 24px;
  width: 100%;
}

.ul {
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
}

.li {
  display: inline-block;
  margin-right: 24px;
}

.link {
  color: white;
  text-decoration: none;
}