.btn {
  @include button-bg($accent);
  border: none;
  border-radius: 0.25em;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-default;
  font-size: 0.7em;
  outline: 0;
  padding: 1em 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition:
    background-color 200ms linear,
    color 200ms linear;
  max-width: 18.75em;

  &.favorited {
    background-color: transparent;
    border: 1px solid $white;
    cursor: none;

    &:before {
      background:
        image_url("icons/favorite-filled.svg")
        no-repeat
        center
        center
        transparent !important;
      background-size: contain;
    }
  }
}

.three-btn-container {
  .btn {
    margin: 0.4em;
    width: 29.99%;
  }
}

.primary-btn {
  border-radius: $border-radius;
  font-size: 1.3em !important;
  margin: 0.3em 0 !important;
  padding: 0.45em 1em;
}



/*===========================================
                BREAKPOINTS
===========================================*/
@include respond-to(small) {
  .three-btn-container {
    text-align: center;
  }
};
