/*======================================
                THEME
======================================*/
// BASICS
$white: #fff;
$dark: #202020;
$black: #000;

$primary: #546575;
$primary-dark: #42505D;
$secondary: $white;
$accent: #eb2229;

$border: #D3DDE4;
$dark-border: #CBCBCB;
$placeholder-text: #a1a0a0;

$white-text: $white;
$dark-text: #556574;
$secondary-text: #fae300;

// Notifications R/G color-blind compatible
$success: #4CAF50;
$warning: #FFEB3B;
$danger: #CC3E4A;
$pending: #9677DF;

// Lists

$social-networks: codepen facebook github linkedin twitter;

// Maps

$categories: (
  faith: #806dfb,
  forgiveness: #4ccbd3,
  humility: #f7a34a,
  servanthood: #1b5bc6,
  obedience: #1eb5fa,
  courage: #e9306d,
  love: #2dbaa5
);

$categoryGradient: (
  faith: linear-gradient(to bottom,  #9285f7 0%,#9080f7 44%,#806dfb 100%),
  forgiveness: linear-gradient(to bottom,  #53d9e0 0%,#52d6dd 44%,#4ccbd3 100%),
  humility: linear-gradient(to bottom,  #ffb56b 0%,#f9a857 44%,#f7a34a 100%),
  servanthood: linear-gradient(to bottom,  #2376fc 0%,#1e65d8 44%,#1b5bc6 100%),
  obedience: linear-gradient(to bottom,  #1ebbff 0%,#1eb9fc 44%,#1baae8 100%),
  courage: linear-gradient(to bottom,  #ff3575 0%,#f2326f 44%,#d32c61 100%),
  love: linear-gradient(to bottom,  #36dbc2 0%,#31c4ae 44%,#2dbaa5 100%)
);

$categoryPosterMask: (
  faith: rgba(#45BEAB, 0.3),
  forgiveness: rgba($black, 0.5),
  humility: rgba(#EC2B6C, 0.5),
  servanthood: rgba(#45BEAB, 0.5),
  obedience: rgba(#00B4FD, 0.5),
  courage: rgba(#EC2B6C, 0.5),
  love: rgba(#FAA127, 0.2)
);


/*======================================
                 TEXT
======================================*/
$font-default: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

$font-copy: $font-default;
$default-font-size: 0.8125em;

$font-light: 100;
$font-regular: 400;
$font-bold: 700;
$font-bolder: 800;
$font-black: 900;


/*======================================
               ELEMENTS
======================================*/
$light-bg-color: #ECECEC;
$dropdown-bg-color: $white;
$toggle-off-bg: $border;



/*======================================
              DIMENSIONS
======================================*/
$breakpoint-xsmall: 320px;
$breakpoint-small: 767px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1280px;
$breakpoint-xlarge: 1430px;

// ELEMENTS
$max-txt-width: 37.5em;
$max-btn-width: 15em;
$border-radius: 4px;

// ANIMATION
$all-transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
$transform-transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
