.block {
  display: block;
  color: #FFEB3B;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  padding-bottom: 24px;
  padding-top: 24px;
  transition: color 150ms ease-out;
}

.block:hover {
  color: #3F51B5;
}