.HomeView {
  text-align: center;
  padding-bottom: 1em;
}

.HomeView-feature {
  height: 95%;
  padding: 0 0 2em 0;
  position: relative;
}

.HomeView-sub-headline {
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.07rem;
  margin: 0 auto;
  padding-top: 1em;
  text-shadow: 0 0 10px #000;
  width: 100%;
}

.HomeView-recent-work-container {
  padding-bottom: 0.5em;
}

.HomeView-recent-description {
  color: #bfbfbf;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.02rem;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 36rem;
  padding: 0 1.2rem 1rem 1.2rem;
}

.HomeView-link {
  color: #f39121;
  display: inline-block;
  padding: 0 0 0 0.5rem;
  transition: color 150ms linear;
  text-decoration: none;
}

.HomeView-link.cushion {
  padding: 0 0.5rem;
}

.HomeView-link:hover {
  color: #fff;
}

.HomeView-work-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.HomeView-cta-wrapper {
  padding: 2em 1em 1em 1em;
}

.HomeView-btn-wrapper .btn {
  font-size: 1em;
  padding: 0.8em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

.HomeView-btn-wrapper .btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 769px) {
  .HomeView-sub-headline {
    font-size: 2rem;
  }

  .HomeView-recent-description {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
